<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atzdy.ssm.mapper.UserMapper">
    <insert id="setUser">
        insert into ssm.t_user (username,password)
        values (#{username}, #{password});
    </insert>

    <select id="getUserByNameAndPassword" resultType="User">
        select *
        from ssm.t_user
        where username = #{username}
          and password = #{password};
    </select>

    <select id="getUserList" resultType="User">
        select *
        from ssm.t_user;
    </select>

    <!--根据用户名查询用户-->
    <select id="getUserByName" resultType="User">
        select *
        from ssm.t_user
        where username = #{username};
    </select>
</mapper>