<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>书籍管理</title>
    <link rel="stylesheet" th:href="@{/static/css/index_work.css}">
</head>
<body>
<table>
    <tr>
        <th colspan="3">
            书籍列表
        </th>
        <th>
            <a href="">新增</a>
        </th>
    </tr>
    <tr>
        <th>流水号</th>
        <th>书籍名</th>
        <th>介绍</th>
        <th>操作</th>
    </tr>
    <tr th:each="book,status:${bookList}">
        <td th:text="${status.count}"></td>
        <td th:text="${book.name}"></td>
        <td th:text="${book.introduce}"></td>
        <td>
            <a href="">删除</a>
            <a href="">修改</a>
        </td>
    </tr>
</table>
</body>
</html>